html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"),
    url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
  url("../fonts/MullerRegular.woff2") format("woff2"),
  url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"),
    url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Bold"),
    url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Muller", sans-serif;
  background-color: #f1f1f1;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* *global */

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 0 27px;
}

.flex {
  display: flex;
}

.btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  color: #cc9933;
  background: transparent;
  border: 1px solid #cc9933;
  border-radius: 10px;
  cursor: pointer;
}

.margin-bot {
  margin-bottom: 70px;
}

.section-title {
  margin: 0 0 20px;
  padding-left: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
  color: #333;
}

.list-rst {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* *header */

.header-top {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-top-left {
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  width: 261px;
  margin-right: 40px;
}

.header-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1em;
  color: #666;
}

.header-lk {
  padding-left: 28px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  color: #cc9933;
  background: url("../img/header-arrow.svg") no-repeat left center / 21px 12px;
}

.header-bot {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 14px 45px;
  background-color: #fff;
  border-radius: 15px;
}

.header-nav {
  align-items: center;
}

.header-list {
  flex-wrap: wrap;
}

.header-item:not(:last-child) {
  margin-right: 45px;
}

.header-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  color: #666;
}

.header-buttons {
  flex-shrink: 0;
}

.header-btn {
  padding: 13px 20px;
}

.header-btn:not(:last-child) {
margin-right: 40px;
}

/* *offers */

.offers-cards {
  width: 50%;
}

.offers-left {
  margin-right: 24px;
}

.offers-card {
  flex-direction: column;
  padding: 40px 45px;
  border-radius: 15px;
  background-color: #304059;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.offers-card-1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(
 "../img/offers-card-1.jpg");
}

.offers-card-2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(
 "../img/offers-card-2.jpg");
}

.offers-card-3 {
  background-image: url("../img/offers-card-3.jpg");
}

.offers-left-card:not(:last-child) {
  margin-bottom: 24px;
}

.offers-right-card {
  justify-content: flex-end;
  height: 100%;
}

.offers-card-title {
  margin: 0 0 15px;
  font-weight: 700;
  line-height: 1em;
  color: #fff;
}

.offers-left-card-title {
  max-width: 420px;
  font-size: 40px;
}

.offers-right-card-title {
  max-width: 300px;
  font-size: 60px;
}

.offers-card-span {
  margin: 0 0 47px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1em;
  color: #fff;
  opacity: 0.8;
}

.offers-card-link {
  padding-right: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  color: #f0bf5f;
  background: url("../img/arrow.svg") no-repeat right center / 11px;
}

/* *about-us */

.about-us-descr {
  width: 888px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2em;
  color: #000;
}

/* *services */

.services-list {
  flex-wrap: wrap;
}

.services-item {
  width: 573px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.services-item-img {
  width: 573px;
  height: 165px;
  margin-bottom: 26px;
}

.services-item-img-1 {
  background: url("../img/services-1.jpg") no-repeat top center / cover;
}

.services-item-img-2 {
  background: url("../img/services-2.jpg") no-repeat top center / cover;
}

.services-item-img-3 {
  background: url("../img/services-3.jpg") no-repeat top center / cover;
}

.services-item-img-4 {
  background: url("../img/services-4.jpg") no-repeat top center / cover;
}

.services-item-text {
  padding: 0 45px 35px;
}

.services-item-title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 2em;
  color: #cc9933;
}

.services-item-link {
  padding-right: 16px;
  /* !цвет стрелки отличается от макета. узнать как обнулить цвет у svg картинки и прописывать цвет через css */
  background: url("../img/arrow.svg") no-repeat right center / 11px;
}

.services-item-descr {
  width: 402px;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2em;
  color: #000;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 24px;
}

/* *advantages */

.advantages-list {
  flex-wrap: wrap;
}

.advantages-item {
  width: 276px;
  padding: 40px 40px 32px 45px;
  background-color: #fff;
  border-radius: 15px;
}

.advantages-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-item:not(:nth-last-child(-n+4)) {
  margin-bottom: 22px;
}

.advantages-img {
  width: 66px;
  height: 66px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.advantages-img-1 {
  background-image: url("../img/advantages-1.svg");
}

.advantages-img-2 {
  background-image: url("../img/advantages-2.svg");
}

.advantages-img-3 {
  background-image: url("../img/advantages-3.svg");
}

.advantages-img-4 {
  background-image: url("../img/advantages-4.svg");
}

.advantages-img-5 {
  background-image: url("../img/advantages-5.svg");
}

.advantages-img-6 {
  background-image: url("../img/advantages-6.svg");
}

.advantages-img-7 {
  background-image: url("../img/advantages-7.svg");
}

.advantages-img-8 {
  background-image: url("../img/advantages-8.svg");
}

.advantages-descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 2em;
  color: #000;
}

/* *accommodation */

.accommodation-list {
  flex-wrap: wrap;
}

.accommodation-item {
  flex-direction: column;
  justify-content: space-between;
  width: 374px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.accommodation-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.accommodation-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 24px;
}

.accommodation-top {
  margin-bottom: 32px;
}

.accommodation-bot {
  padding: 0 45px 45px;
}

.accomnodation-wrapper {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.accommodation-star:not(:last-child) {
  margin-right: 6px;
}

.accommodation-price-item {
  line-height: 1em;
}

.accommodation-price-item:not(:last-child) {
  margin-right: 4px;
}

.accommodation-price-from {
  font-weight: 400;
  font-size: 16px;
  color: #999;
}
.accommodation-price-value {
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.accommodation-price-night {
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

.accommodation-name {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  color: #000;
}

.accommodation-country {
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  color: #999;
}

.accommodation-btn {
  padding: 13px 20px;
}

.accommodation-next {
  justify-content: flex-end;
  align-items: center;
  padding: 27px 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 2em;
  color: #fff;
  background: #304059 url("../img/hotel-next.jpg") no-repeat center / cover;

}

.accommodation-next-link {
  padding-right: 16px;
  /* !цвет стрелки отличается от макета. узнать как обнулить цвет у svg картинки и прописывать цвет через css */
  background: url("../img/arrow.svg") no-repeat right center / 11px;
}

/* *tour */

.tour-section {
  padding: 45px;
  background-color: #e9e9e9;
  border-radius: 15px;
}

.tour-title {
  padding-left: 0;
}

.form {
  align-items: center;
  padding: 32px 28px;
  background-color: #fff;
  border-radius: 15px;
}

.form-wrapper {
  flex-direction: column;
  margin-right: 41px;
}

.form-wrapper:last-of-type {
  margin-right: 51px;
}

.form-item {
  font-weight: 400;
  line-height: 1em;
  color: #000;
  /* ↓ убирает у текста пустой символ слева, но и с ней иконку у select ↓ */
  appearance: none;
  -webkit-appearance: none;
  /* ↑↑ */
}

.form-label {
  margin-bottom: 15px;
}

.form-select {
  width: 169px;
  border: none;
}

.form-input {
  width: 121px;
  border: none;
}

.form-number {
  border-bottom: 1px solid #e9e9e9;
}

.form-btn {
  padding: 13px 30px;
  min-width: 108px;
}

/* *contacts */

.contacts-section {
  margin-bottom: 40px;
}

.contacts-block {
  padding: 45px;
  background-color: #fff;
  border-radius: 15px;
}

.contacts-block-left {
  width: 375px;
  margin-right: 52px;
}

.address {
  font-style: normal;
}

.contacts-item {
  justify-content: space-between;
  margin-bottom: 25px;
}

.contacts-border {
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
}

.contacts-subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1em;
  color: #000;
}

.contacts-right {
  width: 228px;
}

.contacts-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}

.contacts-address {
  margin: 0;
  color: #000;
}

.contacts-number {
  display: block;
  color: #cc9933;
}

.contacts-email-wrapper {
  flex-direction: column;
}

.contacts-email-wrapper:not(:last-child) {
  margin-bottom: 3px;
}

.contacts-email-link {
  color: #cc9933;
}

.contacts-email-descr {
  color: #999;
}

.contacts-schedule {
  justify-content: space-between;
  margin-bottom: 45px;
}

.contacts-schedule-descr {
  margin: 0;
}

.contacts-block-right {
  width: 653px;
}

.contacts-btn {
  padding: 27px 29.5px;
}
